
  h1 {
    color: #673ab7;
    font-size: 5em;
    font-family: 'Lobster'
  }
  p {
    color:#f99808;
    background-color: blue;
  }
  ul {
    color: #07c4dc;
    width: 200px
  }
  ol {
    color: #dc7424;
  }
  .backdrop {
    background-color: #b0f165;
  }
  .container{
    max-width: 760px;
    margin: 0 auto;
  }
  #bright{
    background-color: #e91e63;
    width: 150px
  }
  .mid-width{
    width:200px;
  }

#navigation > ul > li{
  display: inline;
  list-style: none;
}
#navigation{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  height: 1.3rem;
  width: 100vw;
  padding: 15px;
}
#navigation ul.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

#navigation .dropdown{
  display: none;
  position: absolute;
}

#navigation a:hover + .dropdown,
#navigation .dropdown:hover {
  display: block;
  left: -1rem;
}
#navigation li:nth-child(2n){
  position: relative;
}
#header{
  color: orange;
  background-color: green;
  padding: 10px;
}
#header  p{
  color: hotpink;
}
#content{
  color: purple;
}
#footer{
  color: blue;
}

ul li:first-child{
  background-color: purple;
}
ul li:nth-child(2n){
  color:green;
}
